<form id="control_form" action="javascript:void(0);">
	<div class="form-group row">
		<label for="inputVp" class="col-sm-6 col-form-label col-form-label-sm">Vp [V]</label>
		<div class="col-sm-6">
			<input type="number" step="any" class="form-control form-control-sm" id="inputVp" required>
		</div>
	</div>
	<div class="form-group row">
		<label for="inputVdc" class="col-sm-6 col-form-label col-form-label-sm">Vo [V]</label>
		<div class="col-sm-6">
			<input type="number" step="any" class="form-control form-control-sm" id="inputVdc" required>
		</div>
	</div>
	<div class="form-group row">
		<label for="inputHz" class="col-sm-6 col-form-label col-form-label-sm">Frequency [Hz]</label>
		<div class="col-sm-6">
			<input type="number" step="any" class="form-control form-control-sm" id="inputHz" required>
		</div>
	</div>
	<div class="form-group row">
		<label for="inputTT" class="col-sm-6 col-form-label col-form-label-sm">Test time [s]</label>
		<div class="col-sm-6">
			<input type="number" step="any" class="form-control form-control-sm" id="inputTT" required>
		</div>
	</div>
	<div class="form-group row">
		<label for="inputPhi" class="col-sm-6 col-form-label col-form-label-sm">phi [rad]</label>
		<div class="col-sm-6">
			<input type="number" step="any" class="form-control form-control-sm" id="inputPhi" required>
		</div>
	</div>
	<button class="btn btn-primary btn-block" id="control_play">Play</button>
</form>
<button class="btn btn-danger btn-block" id="control_stop" style="margin-top:15px">Stop</button>