<!DOCTYPE html>
<html>
<head>
	<title>Asoft Console</title>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.min.css">
</head>
<body>

	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
	  <a class="navbar-brand" href="#">Asoft Console</a>
	</nav>

	<div class="container" style="margin-top:10px">
		<div class="row">
			<div class="col-sm">
				<span id="ctrlbtn"></span>
			</div>				
		</div>

		<div class="row" style="margin-top:15px">
			<div class="col-sm">
				<img src="images/equation.png" class="img-fluid">
				<%- include('control'); -%>	
			</div>
			<div class="col-sm">
				<%- include('state'); -%>
			</div>
		</div>


		<div class="row" style="margin-top:15px">
			<div class="col-12">
				<div class="input-group mb-3">
					<span class="form-control">Logging files</span>
					<div class="input-group-append">
						<button class="btn btn-outline-secondary" type="button" id="refresh-btn">refresh</button>
					</div>
				</div>
				<span id="filelist"></span>
			</div>
		</div>
	</div>


	<script src="/socket.io/socket.io.js"></script>
	<script src="javascripts/jquery-3.4.1.min.js"></script>
	<script src="javascripts/bootstrap.min.js"></script>
	<script src="javascripts/popper.min.js"></script>
	<script>
	  $(function () {
	    var socket = io();

	    $('#refresh-btn').click(function(e) {
	      e.preventDefault(); // prevents page reloading
	      socket.emit('refresh', 1);
	    });

	    socket.on('filelist', function(msg){
	    	appendContext = "";
	    	msg.forEach(function(file){
	    		appendContext += '<a download role="button" class="btn btn-block btn-outline-dark" href="/log/'+file+'">'+file+'</a>'
	    	});

	    	$('#filelist').html(appendContext);
	    });

	    <%- include('control_js'); -%>
	    <%- include('state_js'); -%>

	  });
	</script>
</body>
</html>