<form>
	<div class="form-group row">
		<label for="outputTemp" class="col-sm-6 col-form-label col-form-label-sm">Temperature [deg]</label>
		<div class="col-sm-6">
			<input type="number" class="form-control form-control-sm" id="outputTemp" readonly>
		</div>
	</div>
	<div class="form-group row">
		<label for="outputState" class="col-sm-6 col-form-label col-form-label-sm">State</label>
		<div class="col-sm-6">
			<input type="text" class="form-control form-control-sm" id="outputState" readonly>
		</div>
	</div>
</form>